{#- Make datadir relative to webroot if path is not absolute -#}
{%- if not mapdata.lookup.datadir.startswith("/") %}
  {%- do mapdata.lookup.update({"datadir": mapdata.lookup.webroot | path_join(mapdata.lookup.datadir)}) %}
{%- endif %}

{#- Allow managing the caching config separately for ease of use -#}
{%- set caching_map = {
  "apcu": "\\OC\\Memcache\\APCu",
  "memcached": "\\OC\\Memcache\\Memcached",
  "redis": "\\OC\\Memcache\\Redis",
} %}
{%- for cache in ["distributed", "local", "locking"] %}
  {%- if mapdata.caching[cache] %}
    {#- No verification, let's trust the user :) -#}
    {%- do mapdata | update_dict_key_value("config:system", {"memcache." ~ cache: caching_map[mapdata.caching[cache]]}) %}
    {%- if "locking" == cache %}
      {%- do mapdata | update_dict_key_value("config:system", {"filelocking.enabled": true}) %}
    {%- endif %}
  {%- endif %}
{%- endfor %}

{#-
    To be able to access the unix sockets, the user running Nextcloud
    (php-fpm user/apache user/...) needs access to the socket file.
    Generally, it should be sufficient to be part of the corresponding group.
    MariaDB actually sets 777 permissions if socket auth is active for a user.
-#}
{%- if mapdata.manage_groups_auto %}
  {%- if "redis" in mapdata.config and mapdata.config.host.startswith("/") and mapdata.lookup.redis_group not in mapdata.additional_groups %}
    {%- do mapdata.additional_groups.append(mapdata.lookup.redis_group) %}
  {%- endif %}
{%- endif %}

{%- do mapdata | update_dict_key_value("config:system", {"datadirectory": mapdata.lookup.datadir}) %}
